*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

/* Admin */

.container {
  display: grid;
  grid-template-columns: 1fr 4fr repeat(3, 0);
  height: 100dvh;
}

iframe {
  height: 100%;
  width: 100%;
}
