{{define "content"}}
<div class="container">
  <h1>Manage Scoreboard</h1>
  <form id="edit">
    <div class="player left-player">
      <div>Player 1</div>
      <div>
        <input type="text" id="country1" name="country1" placeholder="Country" />
        <input type="text" id="sponsor1" name="sponsor1" placeholder="Sponsor" />
        <input type="text" id="name1" name="name1" placeholder="Player" />
        <input type="number" id="score1" name="score1" value="0" />
      </div>
    </div>

    <div class="player right-player">
      <div>Player 2</div>
      <div>
        <input type="text" id="name2" name="name2" placeholder="Player" />
        <input type="text" id="country2" name="country2" placeholder="Country" />
        <input type="text" id="sponsor2" name="sponsor2" placeholder="Sponsor" />
        <input type="number" id="score2" name="score2" value="0" />
      </div>
    </div>
    <div class="save">
      <div class="info">
        <input type="text" id="phase" name="phase" value="Grand Final" />
      </div>
      <button type="submit">Update</button>
    </div>
  </form>
</div>
<script defer src="/assets/js/edit.js"></script>
{{end}}
